@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: stretch;
}

img {
  width: 300px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: white;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  margin: 0 0 auto 0;
  padding: 5px;
}
.header .left-links {
  display: flex;
  gap: 10px;
  padding: 2px;
}
.header .right-links {
  margin-left: auto;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 2px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.footer {
  display: flex;
  margin: auto 0 0 0;
  padding: 5px;
}
.footer .left-links {
  display: flex;
  gap: 10px;
  background-color: #eeeeee;
  padding: 2px;
}
.footer .right-links {
  display: flex;
  gap: 10px;
  background-color: #eeeeee;
  margin-left: auto;
  padding: 2px;
}


.text {
  flex: 1;
}








ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:link{
  color: grey;
}

a:visited {
  color: grey;
}
